In [1]:
import seaborn

In [3]:
import arcgis
from arcgis import GIS

In [4]:
gis = GIS(url= "http://slustl.maps.arcgis.com/home/", username="gregbrunner_slugis" , password="100%BlueGatorade")

In [5]:
from arcgis.features import FeatureLayer

In [6]:
fl = FeatureLayer('http://services.arcgis.com/P3ePLMYs2RVChkJx/arcgis/rest/services/Tapestry_Households/FeatureServer/1')

In [ ]:
df = fl.query().df

In [ ]:
df

In [8]:
df.MARGIN

0      904303
1       44765
2      101531
3      123036
4      219290
5      520971
6       91234
7     4269978
8      136386
9       27202
10      65567
11     219703
12     204537
13     118446
14     304378
15     147314
16     244013
17     523443
18     211467
19     528761
20     110263
21     398484
22     807179
23     224357
24       2736
25      71982
26      83204
27     588708
28     112911
29     211141
30     215583
31     300016
32     944714
33     524160
34     574117
35     173315
36     446841
37     652230
38     212030
39      22748
40     300577
41      50476
42     270107
43     734759
44     546345
45    1732973
46      44292
47      22142
48      10704
49      46933
50     138044
Name: MARGIN, dtype: int64